svg {
    flex-shrink: 0;
}

.text-link-normal{

    text-decoration: none; 
    color: black;

}

form.pencarian{

    flex: 2 2;
    max-width: 800px;
    min-width: 100px;

}

.navigasi{
    margin-bottom: 30px;
}

.logo{
    flex: 1 1;
    max-width: 300px;
    min-width: 240px;
}
a.kategori{
    margin-left: 20px;
}

.tombol-daftar-masuk {
    flex: 1 1;
    max-width: 140px;
    min-width: 300px;
    display: flex;
    justify-content: flex-end;
}

.daftar {
    margin-right: 20px;
}

.masuk {
    margin-right: 20px;
}

.keranjang {
    margin-right: 20px;
    align-self: center;
}

.warna-hijau{
    color:  rgb(53, 166, 16);
}

.banner{
    min-width: 500px;
    padding-right: 100px;
    padding-left: 100px;
}
.banner-img{
    max-height: 300px;
}

.list-card{
    max-width: 800px;
}
.card{
    height: 250px;
    width: 160px;
    background-color: red;
}
.produk-img{
    height: 200px;
    width: 160px;
}
.produk-text{
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.produk-harga{
    font-size: 16px;
}

.info-img{
    max-height: 120px;
}

.keamanan-img{
    width: 90px;
}